@import url('<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(23, 23, 23);
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 70px;
    border: 2px solid rgb(18, 17, 17) ;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
}
    .navigation a{
    position:relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin: 40px;
}
 .navigation a::after{
    content: '';
    position: absolute;
    width: 105%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .6s;
 } 

 .navigation a:hover::after {
    transform-origin:left;
    transform: scaleX(1);
 }
 .navigation .button{
    font-size: 1.3em;
    background: transparent;
    color: #fff;
    outline: none;
    border-color: transparent;
    align-items: center;
    cursor: pointer;
 }

 /* kamHau opening page */
.container{
    margin-left: 175px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
 .body{
    height: 210px;
    width: 340px;
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    font-size: 1.2em;
    padding: 100px;
 }
 .body a{
    text-decoration: none;
    color: #fff;
 }

 /* khojau css */
.workBox{
    border: 2px solid #fff;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.workBox tr th{
    padding: 20px  105px;
    font-size: 1.5em;
    text-decoration: underline;
}
.workBox tr td{
    padding: 20px  105px;
}
.workBox tr td button{
   font-size: 1.3em;
   background: transparent;
   color: green;
   outline: none;
   border-color: transparent;
   align-items: center;
}

/* rakhau css */
.rakhau-box{
    position: fixed;
    height: 330px;
    width: 280px;
    background-color: #332d2d;
    border: px solid rgba(49, 45, 45, 0.5);
    border-radius: 10%;
    box-shadow: 0 0 30px rgba(8, 7, 0.5);
}
.wishes{
    font-size: 50px;
    margin-top: 55px;
    margin-left: 370px;
    color:#f2ecec;
}

.rakhau-form{
    position: relative;
    color: #f2ecec;
    font-size: 1em;
    margin-top: 40px;
    padding-left: 20px;
    font: 500;
}

.rakhau-input{
    position: fixed;
    flex: 2;
    height: 35px;
    width: 240px;
    background: #c0b6b6;
    outline: none;
    border-radius: 20px;
    padding: 15px;
}

.rakhau-input input{
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    color: #291818;
    padding: 0 35px 0 5px;

}

.rakhau-box button{
    position: fixed;
    margin-left: 70px;
    height: 32px;
    width: 100px;
    margin-top: 25px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: rgb(34, 34, 39);
    cursor: pointer;
    box-shadow: 0 0 10px rgb(236, 236, 232);

}


/* to do list css */

.toDoContainer{
    width: 100%;
    min-height: 100vh;
    background: rgb(23, 23, 23);
    padding-top: 40px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #363333;
    margin: 100px auto 20px;
    margin-top: 120px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}
.todo-app h2{
    color: #011536;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.todo-app h2 img{

    width: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.toDoinput-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.toDoButton{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:black;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(243, 239, 239);
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    color: #f2ecec;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    position: absolute;
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 6px;
}
ul li.done{
    color:#111111;
    text-decoration: line-through;
}
 ul li.done::before{
    background-image: url(done.png);
    
 }

 ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 70px;
    height: 40px;
    font-size: 22px;
    color: #f2ecec;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
 }

 ul li span:hover{
    cursor: pointer;
 }